# Ignore Python bytecode
__pycache__/
*.pyc
*.pyo

# Ignore Jupyter notebook-related files
.ipynb_checkpoints/
*.ipynb

# Ignore virtual environments
venv/
env/
.venv/
.env/

# Ignore Git and IDE files
.git/
.gitignore
.vscode/
.idea/

# Ignore temporary files
*.log
*.bak
*.swp
.DS_Store

# ignore linting files
.flake8
.pre-commit-config.yaml
pyproject.toml
